/* Beta Animations, may break any time! */
/* Will be updated! */

/* Top tab bar thing */
#browser .tabbar-wrapper, #browser.tabs-top #header {
    transition: .4s ease-out;
}



/* buttons */

.hasfocus .quick-command-container .quick-commands .quick-command[data-selected] {
    transition: 0.2s ease-out;
}

.hasfocus .quick-command-container .quick-commands .quick-command {
    transition: 0.3s ease-out;
}

.button-toolbar > button:hover {
    transition: .4s ease-out;
}

.button-toolbar > button {
    transition: .3s ease-out;
}

.vivaldi-tree .tree-row, .tree-row.dragover {
    transition: .2s ease-out;
}


 /* TODO: Fix this part one day! */
.hasfocus #history-panel .vivaldi-tree .VivaldiList:focus-within .tree-row[data-selected] label {
    background-color: var(--colorAccentFgAlphaHeavy) !important;
}
 /* TODO: Fix this part one day! */
.vivaldi-tree .tree-row:hover, .tree-row.dragover:hover {
    background-color: var(--colorAccentFgAlphaHeavy) !important;
    border-radius: var(--radius);
    transition: .2s ease-out;
}

.vivaldi-tree .tree-row.dragover, .hasfocus .vivaldi-tree:focus-within .tree-row[data-selected] {
    background-color: var(--colorAccentBg) !important;
    transition: .2s ease-out;
}
 /* TODO: Fix the part above */

.startpage .startpage-navigation .startpage-navigation-group .button-startpage:hover {
    background-color: var(--colorAccentFgAlphaHeavy);
    border-radius: var(--radius);
    transition: .2s ease-out;
}

.startpage .startpage-navigation .startpage-navigation-group .button-startpage {
    background-color: #ffffff00;
    transition: .2s ease-out;
}

.button-toolbar > button > span.button-toolbar-menu-indicator:hover {
    transition: .2s ease-out;
}

.button-toolbar > button > span.button-toolbar-menu-indicator {
    transition: .2s ease-out;
}

input[type=button]:not(.circular), input[type=submit], input[type=color], .FormButton {
    transition: .2s ease-out;
}

input[type=button]:not(.circular), input[type=submit], input[type=color], .FormButton:hover {
    transition: .4s ease-out;
}


.vivaldi-settings .settings-sidebar .button-category {
    transition: .3 ease-out;
}

.vivaldi-settings .settings-sidebar .button-category:hover {
    transition: .2s ease-out;
    background-color: var(--colorAccentFgAlphaHeavy);
}

.vivaldi-settings .settings-sidebar .settings-navigation:focus-within .tree-row .button-category.category-selected {
    transition: .2s ease-out;
    background-color: var(--colorAccentBg);
}


.sortselector .sortselector-button:hover:not(:disabled), .sortselector .sortselector-dropdown:hover:not(:disabled), .sortselector .sortselector-button:focus-visible, .sortselector .sortselector-dropdown:focus-visible {
    border-radius: var(--radius);
    transition: .2s ease-out;
}

.sortselector .sortselector-button {
    transition: .4s ease-out;
}