/* Font for Vivaldi UI */

/* ======== REMOVE THIS FILE IF YOU DONT WANT CUSTOM FONTS ================ */

* {
  font-family: "Roboto" !important;
  text-shadow: 0 0 .8px var(--colorFgAlpha) !important;
  letter-spacing: .1px;
}

.button-startpage button .button-title,
.startpage .startpage-navigation .startpage-navigation-group .button-startpage {
  font-family: "Roboto" !important;
}

