/* animations stuff */
@keyframes audio_fade_active {
    from {background: var(--colorBg);}
    to {background: color-mix(in hsl, var(--colorAccentBg) 80%, var(--colorSuccessBg) 20%);}
}

@keyframes audio_fade_inactive {
    from {background: var(--colorBgAlpha);}
    to {background: color-mix(in hsl, var(--colorAccentBgAlphaHeavy) 90%, var(--colorSuccessBg) 10%);}
}




/* webpage / very important 

TODO: fix this*/

#browser:not(.inner, .narrow-tiling) #webpage-stack > .tiled.visible {
    box-shadow: inset 0 0 0 var(--n6) #ffffff00;
    background-color: var(--colorBgAlphaBlur);
    backdrop-filter: var(--backgroundBlur);
}
#browser .tile:has(> .tiled.webpageview) {
    border: var(--mosaicPadding) solid #ffffff00;
}

#webview-container {
    --bgCoverShadow: 0 0 0 var(--mosaicPadding) #00000000;
}


/*Not sure to use the border here or at the panel*/
.webpageview > .row-wrapper .webpage {
    border-left: 1px solid var(--colorBorder);
    border-right: 1px solid var(--colorBorder);
}

/* main tab bar to remove the ugly lines and some others */
.color-behind-tabs-on .SearchField:focus-within, .color-behind-tabs-on .MailSearchField-Inner:focus-within, .color-behind-tabs-on .UrlBar-AddressField:focus-within {
    outline: 2px solid var(--colorTabBar);
}

.startpage .startpage-navigation{
    backdrop-filter: var(--backgroundBlur);
    background-color: var(--colorBgAlphaBlur) !important;
    box-shadow: var(--colorBgAlphaBlur) !important;
}

.tab.audio-on {
    animation-name: audio_fade_inactive;
}

.tab.active.audio-on {
    animation-name: audio_fade_active;
}
.tab.active.audio-on, .tab.audio-on {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.find-in-page-wrapper {
    backdrop-filter: var(--backgroundBlur);
    background-color: var(--colorBgAlphaBlur) !important;
}

/* window button for linux */
.window-buttongroup {
    top: 0 !important;
    right: 0 !important;
}
.window-buttongroup button {
    padding: 5px !important;
    margin: 3px !important;
    height: 31px !important;
    width: 25px !important;
}

button.window-minimize, button.window-maximize, button.window-close {
    background-color: rgba(255, 255, 255, 0.05) !important;
    transition: .4s ease-out;
}
button.window-minimize:hover, button.window-maximize:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
    transition: .4s ease-out;
}
button.window-close:hover {
    background-color: rgb(238, 0, 16) !important;
    transition: .3s ease-out;
}

/* Pannel stuff */

/* unsure to use this or the webpage method 
#panels-container.left:not(.icons) .panel-group, #panels-container.left.icons:not(:has(.SlideBar)){
    border-right: 1px solid var(--colorBorder);
}*/

#panels-container.left:not(.icons) .panel-group, #panels-container.left.icons:not(:has(.SlideBar)){
    border-right: none;
}

#history-panel .vivaldi-tree .VivaldiList-Offset {
    padding: 0px;
    border-radius: var(--radius);
}

.vivaldi-tree .tree-row[data-selected] {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.panel > header {
    padding-left: 8px;
}

.panel-group .sortselector.sortselector-compact, .download-popout .sortselector.sortselector-compact {
    margin-left: 8px;
}

.panel .calendar-grid {
    padding-left: 8px;
}

/* Mail stuff to make it look cleaner */


.webpageview #mail_view {
    background-color: var(--colorBgAlphaBlur) !important;
    backdrop-filter: var(--backgroundBlur); 
}

.theme-dark#browser:not(.inner) .webpageview #mail_view.vertical #mail_detail, .theme-dark#browser:not(.inner) .webpageview #mail_view.vertical_wide #mail_detail {
    border-left: 1px solid rgba(0,0,0,0) !important;
}

.MailListButtons {
    border-bottom: none;
    background: rgba(0,0,0,0) !important;
}

.sortselector.sortselector-compact .sortselector-button {
    border-left: none;
}


.sortselector {
    border-radius: var(--radius);
    border-bottom: none;
    border-top: none;
}

.webpageview #mail_view .list-wrapper{
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.webpageview #mail_view #mail_detail {
    background-color: rgba(0,0,0,0) !important;
}

.webpageview #mail_view #mail_detail .mail-detail-header {
    background-color: rgba(0,0,0,0) !important;
    border-bottom: none;
}

#quick_reply {
    background-color: rgba(0,0,0,0) !important;
    border-top: none;
}


.message-body-part {
    padding-left: 5px;
    padding-right: 5px;
}

/* other pages like bookmarks, notes and history */

.manager .manager-editor {
    border-top-left-radius: var(--radius);
}

.startpage .history .history-view {
    background: #ffffff00;
}



.manager {
    background-color: var(--colorBgAlphaBlur);
    backdrop-filter: var(--backgroundBlur);
}

.NotesManager {
    backdrop-filter: var(--backgroundBlur);
    background: var(--colorBgAlphaBlur) !important
}

.NotesManager-Buttons {
        border-top: 1px solid var(--colorBorder);
}

.sortselector .SlideBar--FullHeight.alternate {
    position: relative;
    background-color: #ffffff00;
    border: 0 solid transparent;
    border-width: 0 3px;
    padding: 0;
    margin: 0 -3px;
    width: 7px;
    height: var(--columnHeight);
    max-height: -webkit-fill-available;
    background-clip: content-box;
    left: unset;
    z-index: 1;
}
.sortselector .sortselector-button {
    border-radius: 4px;
    background-color: var(--colorAccentFgAlphaHeavy);
}

/* pray that this doesnt break anything 
Edit: It did.... so i had to change some stuff */
.sortselector {
    background-color: rgba(0,0,0,0);
} 



.NotesManager-Note {
    border-top-left-radius: var(--radius);
    background-color: var(--colorBg);
    border-left: 1px solid var(--colorBorder);
}

/* ====== */


.panel .manager-content, .calendar.manager .manager-content {
    border-left: 1px solid var(--colorBorder);
}

.vivaldi-tree {
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px; 

}

.manager > .toolbar {
    /* do NOT apply any bluring here otherwise some popups breaks idk how */
    background-color: #ffffff00;
}

.manager .manager-content {
    background-color: #ffffff00;
}

.NotesManager-EmptyPlaceholder {
    backdrop-filter: var(--backgroundBlur);
    border-top: 1px solid var(--colorBorder);
    border-left: 1px solid var(--colorBorder);
    border-top-left-radius: var(--radius);
}


.NotesManager--Vertical .NotesManager-Tree:not(.NotesManager-Tree--Collapsed) {
    border-right: 0px solid var(--colorBorder);
}


/* Pop up menu when presing f2 */

.quick-command-container .quick-commands {
    padding-left: 10px;
}

.hasfocus .quick-command-container .quick-commands .quick-command[data-selected] {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.hasfocus .quick-command-container .quick-commands .quick-command {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.quick-command-container .quick-commands .quick-command {
    padding: 0 6px 0 20px;
}

.panel .manager-content, .calendar.manager .manager-content {
    border-top-left-radius: var(--radius);
}